<%- include('partials/navbar.ejs')%>
<%- include ('partials/header.ejs') %>
    <% if (!playlist && !video){ %>
    <h1>VIDEO</h1>
    <hr>
    <h3>
        VIDEOS
    </h3>
    <% }else if(!video){ %>
        <h1>Você está na playlist de videos: <%= playlist %> </h1>
    <% } else{ %>
        <h1>Assistindo: <%= video%> da playlist: <%= playlist%> </h1>
    <%}%>

    <p>
        Essa pagina esta sendo renderizada com o EJS no express
    </p>
    <%- include ('partials/footer.ejs') %>