<%- include('partials/head.ejs')%>
<%- include('partials/navbar.ejs')%>
<h1>Pedidos</h1>
    
    
    <table border="1">
      <tr>
        <th width="150px">Produto</th>
        <th>Preco:</th>
      </tr>
      <% pedidos.forEach((pedido) => { %>
      <tr>
        <th>produto: <%= pedido.produto%></th>
        <th>Preco: <%= pedido.valor%></th>
      </tr>
      <% }) %>
    </table>

    <% pedidos.forEach((pedido) => { %>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"><%= pedido.produto %></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        <% }) %>

<%- include('partials/footer.ejs')%>