<%- include('partials/head.ejs')%> <%- include('partials/navbar.ejs')%>

<div class="cards">
  <% produtos.forEach((produto) => { %>
  <div class="card" style="width: 18rem ">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%= produto.produto %></h5>
      <p class="card-text"><%= produto.preco %></p>
    </div>
  </div>
  <% }) %>
</div>
<%- include('partials/footer.ejs')%>
